a{
    color:yellow
}

.mtbig{
    padding-top: 4rem !important ;
    
}
.more-service{
    background-color: #e5e5e5;
}
.more-image{
    width:60px;
}
.under{
    margin-top:20px
}
.size{
    font-size: 12px;
}